<header>
    <h1>Angular 2 App</h1>
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <a routerLink="/products" routerLinkActive="active">Products</a>
        <a routerLink="/students" routerLinkActive="active">Students</a>
        <!-- <a routerLink="/students/all" routerLinkActive="active">All Students</a>
        <a routerLink="/students/view/1" routerLinkActive="active">Student 1</a>
        <a routerLink="/students/view/2" routerLinkActive="active">Student 2</a> -->
    </nav>
</header>
<section class="container">
    <router-outlet></router-outlet>
</section>